@{
    ViewBag.Title = "Home Page";
}
<div class="indtitel">
    <h1> Welcome. <br /> Please Login</h1>
    <div class="btn">
        <a href="/Student/Login" class="btn btn-default">Student</a>
        <a href="/Home/Admin" class="btn btn-danger">Admin</a>
    </div>
    <div class="reg">
        <h2>You are new here?</h2>
        <a href="/Student/reginfo" class="btn btn-success">Registration</a>
    </div>
</div>