@{
    ViewBag.Title = "Home Page";
}
<div class="titel text-center text-uppercase">
    <h2><b>Admin</b></h2>

</div>
<hr />
<div class="contenar">
    
    <form action="#" method="post" class="d-flex justify-content-center">
        <div class="element ">
            <input class="form-control" type="text" value="" name="Name" placeholder="Name" />
            <input class="form-control" type="text" value="" name="ID" placeholder="ID" />
            <input class="form-control" type="password" value="" name="pass" placeholder="Password" />
            <input class="btn btn-success" type="submit" value="submit" />
            <input class="btn btn-danger" type="reset" value="reset" />
        </div>
    </form>
</div>