<nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <a class="logo" href=""><b></b><span class="hidden-xs" ></span> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg" href=""><i class="fa fa-bars"></i></a>
                    </li>
                    <li>
                        <a class="profile-pic" href="#"> <b class="hidden-xs"></b></a>
                    </li>
          					<li>
          						<a href="logout.php?return=admin" data-toggle="tooltip" title="Logout">
          						  <span class="glyphicon glyphicon-log-out"></span>
          						</a>
          					</li>
                </ul>
            </div></nav>
