
@{
    ViewBag.Title = "Login";
}
<h3>Enter your ID and Password to LogIn</h3>
<div class="login">
    <fieldset>
        <legend>Student</legend>
        <form action="/Student/reginfo">
            <div class="form-group row">
                <label for="ID">ID:</label>
                <input type="text" id="ID" name="ID"> <br>
                <label for="ID">Password:</label>
                <input type="password" id="Password" name="Password"> <br>
                <input type="submit" class="btn btn-success" value="submit">
            </div>
        </form>
    </fieldset>
</div>

